

h1{
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: right;
    font-size: 25px;
}

h2{
    font-family: 'Life Savers', cursive;
    color: white;
    text-align: center;
    font-size: 80px;
}
h3{
    font-family: "Raleway", sans-serif;
    color: white;
    text-align: center;
    font-size: 80px;
}

p {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    text-align: center;
}


body, html {height: 100%}
body   {
    background-color: #646464;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}



.ex6{
    background-image: url('game.jpg');
    background-attachment : fixed;
    background-repeat: no-repeat;
    background-color: #646464;
    min-height: 100%;
    background-position: bottom left;
    background-size: 80%;
}


#play{
    background-image: url("4T9od4dqc.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

#p{
    color: #646464;
    border: 2px solid #484848;
    font-size: 20px;
    cursor: pointer;
    width: 125px;
    height: 40px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    margin: 0 7px 11px 0;
    line-height: 36px;
    text-align: center;

    user-select: none;
    transition: all 0.2s ease;
}

#p:hover {
    color: black;
    font-size: 20px;
    background: #b5b5b5;
    box-shadow: 0px 4px black;

}
button{
    background: transparent;
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 20px;
    font-color: black;
    border-color: transparent;
    display: inline-block;
}

#name{
    border:solid #456879;
    height: 30px;
    width: 230px;
}

/* CHAT BOX */
body {  font:15px arial;  color: #222;  text-align:center;  }
form, p, span {  margin:0;  padding:0; }
input { font:15px arial; }

a {
    color: #7b6022;
    text-decoration:none; }
a:hover { text-decoration:underline; }

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background: rgba(251, 211, 132, 0.46);
    width:650px;
    border:1px solid rgba(251, 211, 132, 0.46) }

#loginform { padding-top:18px; }

#loginform p { margin: 5px; }

#chatbox {
    text-align:left;
    margin: 9px;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:500px;
    border:1px solid #cd9f4a;
    float:left;
}

#listofplayer {
    text-align:left ;
    margin: 9px;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:112px;
    border:1px solid #cd9f4a;
    float:right;

}

#usermsg {
    width:572px;
    border:1px solid #cd9f4a; }

#submit { width: 60px; }

.error { color: #ff0000; }

#menu { padding:12.5px 25px 12.5px 25px; }
.welcome { float:left; }
.logout { float:right; }
.msgln { margin:0 0 2px 0; }

/*Countdowntimer*/


#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    width: 33.33%;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #b5b5b5;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #646464;
    display: inline-block;
}


.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

/*user's scoreeeee*/

h4{
    font-family: 'Life Savers', cursive;
    color: white;
    text-align: center;
    font-size: 30px;
}
h5{
    font-family: 'Life Savers', cursive;
    color: black;
    text-align: center;
    font-size: 30px;
}
h6{
    font-family: 'Life Savers', cursive;
    color: white;
    text-align: center;
    font-size: 20px;
}


#player1{
    background-color: transparent;
    height: 150px;
    padding: 25px;
    float: left;
}

#player2{
    background-color: transparent;
    height: 150px;
    padding: 25px;
}



